body {
    background-color: rgb(190, 179, 211);
    display: flex;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 52px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#value {
    display: flex;
    justify-content: center;
    font-size: 48px;
    padding-bottom: 20px;
}

.btn-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;    
}

button {
    border-radius: 10px;
    font-size: 16px;
    background-color: #ffffff;
}